<section class="c-mock">
  <div class="c-mock__data" *ngFor="let data of monetaryCountries">
    {{ data }}
  </div>

  <section class="c-mock">
    <div class="c-mock__data" *ngFor="let data of monetaryCountries2">
      {{ data }}
    </div>

    <section class="c-mock">
      <div class="c-mock__data" *ngFor="let data of monetaryCountries3">
        {{ data }}
      </div>

      <div class="c-mock__data" *ngFor="let data of memberCountries">
        {{ data }}
      </div>
    </section>
  </section>
</section>
